[submodule "aframe"]
	path = aframe
	url = https://github.com/aframevr/aframe.git
[submodule "AR.js"]
	path = AR.js
	url = https://github.com/jeromeetienne/AR.js.git
[submodule "qcode-decoder"]
	path = qcode-decoder
	url = https://github.com/cirocosta/qcode-decoder.git
